Features

Pagination on Goals index & User index

Button under home page to start exploring
    - Dropdown appears with choices?
    
All Pages
- More extensive footer 
- Add pagination for users and goals (or a self loader at the bottom?)
- If you try to perform an action, it should show a message like on spotify when you try and add 
a song to a playlist twice... original screen opacity dips slightly, message drops in from top and fades
into view

Home Page



Users Show Page
    - Add an option to add as friend if not already
        - Maybe say "You are already friends" if they are
    - Text hover elements only applied on inner div, need to work for whole div...
    - Make the friends option look better
    
Users Index Page
    - For users page have in going 3 across the screen, then new row etc.
        
        
Goals Index Page
    - Make it so your own goals appear slightly differently to help with differentiation?


Log In Page
    - Restructure it so it looks better

Create somewhere to toggle admin status

DB Seed
    - Seed some db values using this rather than creating individual goals.