Updates

in Goal#show
 - Only admins and the owner of the goal can edit or delete updates
 - The owner of the goal should be the only one allowed to create a update
   There should also be a link for this on the goal-show page
 - the update_description field should show 100 characters before fading behind ... Users
   will need to go into the update#show action to read the whole update (or have the page extended?)
 - Users should be able to jump into any update (taking them to the updates#show action
   (I need to create this in the routes file)

in Update#show
 - The goal owner and admins should be able to edit and delete the status update
 