Features

- Users can toggle whether their account is Public or Private.

- On Home Page under Explore Goal Positive, have the blue button options fadeIn
rather than just appear.

- Have the gold logo "Goal Positive" only fade in if it's the first page visited
on the site. E.g. direct from google or URL bar? FadesIn. Going from the home
page to the Login page? Doesn't fade in.

- Ensure site security (e.g. Private user profiles cannot be viewed by manually
typing in the URL.

- Add page where a user can amend their personal preferences?
    - Public or Private Account
    - See all goals on homepage or just yours?
    - Night Mode vs Day Mode


