<div class="row">
    <div class="col-md-5 col-md-offset-1">
        <h1 align="center">Sign Up</h1>
        <div class="well">
            <%= render 'signup_form' %>
        </div>
    </div>
    
    <div class="col-md-5 col-md-offset-1">
        <h1 align="center">Log In</h1>
        <div class="well">
            <%= render 'sessions/login_form' %>
        </div>
    </div>
</div>