<h1 align="center">About Page</h1> 
<hr>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3 class="about-para about-para-1">
        Welcome to Goal Positive! The website where you can create and track your goals
        in life. You can also meet like-minded individuals who will share in your journey
        towards perfection.
        </h3>
    </div>
</div>

<hr class="about-page-margin">

<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <%= image_tag ("Top-of-the-World.jpg"), class: 'top-of-the-world' %>
    </div>
    <div class="col-md-4">
        <p>Hey There</p>
    </div>
</div>

<hr>

<div class="row about-overview">
    <div class="col-md-2 about-create">
        <h3 class="center h3-about-create">Create</h3>
        <div class="slider-create"></div>
        <p class="about-para about-para-2">
            Create Goals and release updates to help keep yourself accountable.
        </p>
    </div>
    
    <div class="col-md-2 about-share">
        <h3 class="center h3-about-share">Share</h3>
        <div class="slider-share"></div>
        <p class="about-para about-para-3">
            Share your goal with friends through the find friend feature. Or
            make new friends with similar goals by searching in the categories
            section.
        </p>
    </div>

    <div class="col-md-2 about-help">
        <h3 class="center h3-about-help">Help</h3>
        <div class="slider-help"></div>
        <p class="about-para about-para-4">
            Help motivate others to achieve their goals. Maybe your goal 
            already is to improve the life of those around you?
        </p>
    </div>
    
    <div class="col-md-2 about-inspire">
        <h3 class="center h3-about-inspire">Inspire</h3>
        <div class="slider-inspire"></div>
        <p class="about-para about-para-5">
            Inspire others around you to achieve their goals!
        </p>
    </div>
    
    <div class="col-md-2 about-understand">
        <h3 class="center h3-about-understand">Understand</h3>
        <div class="slider-understand"></div>
        <p class="about-para about-para-6">
            I don't know?
        </p>
    </div>
</div>
<hr>

