<h1 align="center">About Page</h1> 

<%= image_tag ("Top-of-the-World.jpg"), class: 'top-of-the-world' %>

<h3 class="about-para about-para-1">
Welcome to Goal Positive! The website where you can create and track your goals
in life. You can also meet like-minded individuals who will share in your journey
towards perfection.
</h3>
<hr class="about-page-margin">

p class="about-para about-para-5">
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
Hello this is the fifth paragraph,
</p>

<div class="row">
    <div class="col-md-4">
        <h3 align="center">Create</h3>
        <hr>
        <p class="about-para about-para-2">
            Create Goals and release updates to help keep yourself accountable.
        </p>
    </div>
    
    <div class="col-md-4">
        <h3 align="center">Share</h3>
        <hr>
        <p class="about-para about-para-3">
            Share your goal with friends through the find friend feature. Or
            make new friends with similar goals by searching in the categories
            section.
        </p>
    </div>

    <div class="col-md-4">
        <h3 align="center">Help</h3>
        <hr>
        <p class="about-para about-para-4">
            Help motivate others to achieve their goals. Maybe your goal 
            already is to improve the life of those around you?
        </p>
    </div>
</div>
<hr>

<