<div class="row home-page-jumbotron">
    <div class="col-md-6 col-md-offset-3">
        <h1 align="center">Welcome to Goal Positive</h1>
        <p align="center"><i>A place for like-minded individuals to achieve their
        goals.</i></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 align="center">Why use Goal Positive?</h2>
        <hr class="home-page-why-grid">
        <div class="col-md-2">
            <i class="fa fa-desktop fa-5x"></i>
        </div>
        <div class="col-md-3">
            <p>Keep track of all your goals in one place, accessible from
            anywhere in the world.</p>
        </div>
        <div class="col-md-2 col-md-offset-1">
            <i class="fa fa-child fa-5x"></i>
        </div>
        <div class="col-md-3">
            <p>The goal positive community allows you to meet like-minded
            individuals who can motivate you in achieving your goals.</p>
        </div>
            <div class="col-md-2 home-page-trophy">
                <i class="fa fa-trophy fa-5x"></i>
            </div>
            <div class="col-md-3 home-page-trophy">
                <p>Have a record for the world to see how you progressing in your
                goals.</p>
            </div>
            <div class="col-md-2 col-md-offset-1 home-page-trophy">
                <i class="fa fa-handshake-o fa-5x"></i>
            </div>
            <div class="col-md-3 home-page-trophy">
                <p>Give back to the community by helping others achieve their
                goals.</p>
            </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="row home-testimonials">
    <div class="col-md-8 col-md-offset-2">
        <h2 align="center">Testimonials</h2>
        <div class="col-md-5 col-md-offset-1">
            <p>
                "I always struggled to keep to an exercise regiment, constantly 
            cheating on my diet and staying on the sofa eating junk food. With the 
            help of Goal Positive I was able to easily lay out my targets for the
            year and with the update system I could do weekly progress reports which
            allowed me to see how I progressed over time." - <i>Gemma, 29.</i>
            </p>
        </div>
        <div class="col-md-5">
            <p>
                "I find it very motivational to have commenting available on my
                updates as I feel it gives me more accountability with my goals.
                I know that if I have a productive week I will get praise from my
                friends. And even if I fall, the community is able to bring me back
                up and prepare me for next week" - <i>Anonymous.</i>
            </p>
        </div>
    </div>
</div>

<br>

<div class="row home-page-explore-section">
    <div class="home-page-explore col-md-8 col-md-offset-2">
        <h2 align="center">Still Interested?</h2>
        <div class="home-page-signup">
            <%= link_to "Create an account", signup_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>