<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <h1 align="center">Edit your Goal</h1>
            <%= render 'form' %>
        </div>
    </div>
</div>