<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <strong>Goal: </strong><%= @goal.name %>
            <hr>
            <strong>Description: </strong><%= @goal.description %>
        </div>
    </div>
</div>