@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

.navbar-default {
    background-color: #002C7F;
}

.navbar-default .navbar-brand {
    color: gold;
    opacity: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.footer-class {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.well-white {
    background-color: white;
    border: solid black 1px;
}

.show-goal-links {
    padding-top: 10px;
}

.user-show-updates {
    text-align: right;
    display: inline;
    padding-left: 200px;
}

.goal-show-updates {
    text-align: right;
    display: inline;
    float: right;
}

.update-show-updates {
    display: inline;
    padding-left: 420px;
}

.show-update-links, .update-show-buttons, .users-index-buttons {
    padding-top: 10px;
}

.update-comments {
    margin-top: 5px;
}

.index-goal-links {
    padding-top: 10px;
}

.well-border {
    border: solid black 1px;
}

.voting {
    display: inline;
    float: right;
}

.goal-title { 
    margin-top: -12px;
}

.user-goals-description, .goal-index-description, .goal-index-username {
    padding-top: 15px;
    opacity: 0;
}

.index-goals-description {
    padding-top: 12px;
}

.hr-user-goals {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
}


div[class^=user-goals-hover] {
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  &:hover {
    background-color: #26AEFF;
  }
}

.user-goals-text-elements {
    color: black;
    &:hover {
        color: white;
    }
}

.verticalLine {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.goal-index-username, .goal-index-description, .user-show-titles {
    opacity: 0;
}

.hr-solid-black {
    border-bottom: solid black 1px;
}

.about-para {
    padding-top: 10px;
}

.top-of-the-world {
    float: left;
}

.about-page-margin {
    margin-top: 225px;
}

.about-overview {
    opacity: 0;
}

.about-para-5 {
    opacity: 0;
}

.about-create, .about-share, .about-help {
    height: 200px;
    border-radius: 25px;
    /* Safari, iOS, Andriod */
    -webkit-transition: background-color 0.5s, color 0.5s;
    /* Firefox */
    -moz-transition:    background-color 0.5s, color 0.5s;
    -ms-transition:     background-color 0.5s, color 0.5s;
    -o-transition:      background-color 0.5s, color 0.5s;
    transition:         background-color 0.5s, color 0.5s;
    &:hover {
        background-color: #f2f2f7;
        color: black;
        border-radius: 25px;
    }
}

.center {
    text-align: center;
}

.h3-about-create, .h3-about-share, .h3-about-help {
    padding-bottom: 15px;
}

.slider-create, .slider-share, .slider-help {
    //position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black;
    width: 0%;
}

.user-show-friends-list {
    list-style-type: none;
}

.search-bar-title {
    text-align: center;
    margin-top: -3px;
    margin-bottom: -3px;
}

.user-index-search {
    border: 1px solid black;
    background-color: white;
}