@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.navbar-default {
    background-color: #002C7F;
}

.navbar-default .navbar-brand {
    color: gold;
    opacity: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.well-white {
    background-color: white;
    border: solid black 1px;
}

.show-goal-links {
    padding-top: 10px;
}

.user-show-updates {
    text-align: right;
    display: inline;
    padding-left: 200px;
}

.goal-show-updates {
    text-align: right;
    display: inline;
    padding-left: 280px;
}

.update-show-updates {
    display: inline;
    padding-left: 420px;
}

.show-update-links, .update-show-buttons, .users-index-buttons {
    padding-top: 10px;
}

.update-comments {
    margin-top: 5px;
}

.index-goal-links {
    padding-top: 10px;
}

