@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open sans', sans-serif;
}

.navbar-default {
    // Gradient provided by ui gradients
    background: #0072ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-default .navbar-brand {
    color: gold;
    opacity: 0;
    &:hover {
        color: gold;
        // Was being overidden by JQuery FadeTo opacity 1.
        opacity: 0.75 !important;
    }
}

.navbar-default .navbar-nav > li > a {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}

.footer-class {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.well-white {
    background-color: white;
    border: solid black 1px;
}

.show-goal-links {
    padding-top: 10px;
}

.user-show-updates {
    text-align: right;
    display: inline;
    padding-left: 200px;
}

.goal-show-updates, .update-show-updates {
    float: right;
}

.show-update-links, .update-show-buttons, .users-index-buttons, .index-goal-links {
    padding-top: 10px;
}

.update-comments {
    margin-top: 5px;
}

.well-border {
    border: solid black 1px;
}

.voting {
    display: inline;
    float: right;
}

.goal-title { 
    margin-top: -12px;
}

.goal-index-description, .goal-index-username, .home-goal-description, .home-goal-username {
    padding-top: 16px;
}

.user-goals-description, .user-goals-username {
    padding-top: 16px;
    opacity: 0;
}

.index-goals-description {
    padding-top: 12px;
}

.hr-user-goals {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
}

.user-goals-mouse-events, .goals-index-top-div, .home-page-goals-outer-div {
    border-top: solid grey 1px;
}

.user-goals-hover, .goals-index-hover, .home-page-goals {
  color: black;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 1px;
  transition: all .15s ease;
  padding-top: 10px;
  padding-bottom: 16px;
  &:hover {
    background: -webkit-linear-gradient(to left, #00c6ff, #0072ff);
    background: linear-gradient(to left, #00c6ff , #0072ff);
    color: white;
    border-color: transparent;
    transform: translateY(-3px);
  }
}

.user-goals-text-elements {
    color: black;
    &:hover {
        color: white;
    }
}

.verticalLine {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.user-show-titles {
    opacity: 0;
}

.hr-solid-black {
    border-bottom: solid black 1px;
}

.about-para {
    padding-top: 10px;
}

.top-of-the-world {
    //float: left;
}

.about-page-margin {
    //margin-top: 225px;
}

.about-overview {
    opacity: 0;
}

.about-para-2, .about-para-3, .about-para-4, .about-para-5, .about-para-6 {
    text-align: center;
}

.about-create, .about-share, .about-help, .about-inspire, .about-understand {
    height: 200px;
    border-radius: 25px;
    border: 1px solid #f2f2f2;
    margin-left: 55px;
    /* Safari, iOS, Andriod */
    -webkit-transition: background-color 0.5s, color 0.5s;
    /* Firefox */
    -moz-transition:    background-color 0.5s, color 0.5s;
    -ms-transition:     background-color 0.5s, color 0.5s;
    -o-transition:      background-color 0.5s, color 0.5s;
    transition:         background-color 0.5s, color 0.5s;
    &:hover {
        background-color: #f2f2f7;
        color: black;
        border-radius: 25px;
    }
}

.center {
    text-align: center;
}

.h3-about-create, .h3-about-share, .h3-about-help, .h3-about-inspire, .h3-about-understand {
    padding-bottom: 15px;
}

.slider-create, .slider-share, .slider-help, .slider-inspire, .slider-understand {
    //position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: black;
    width: 0%;
}

.user-show-friends-list, .home-page-list {
    list-style-type: none;
}

.search-bar-title {
    text-align: center;
    margin-top: -3px;
    margin-bottom: -3px;
}

.user-index-search {
    border: 1px solid black;
    background-color: white;
}

.home-page-explore {
    text-align: center;
}

.explore-buttons-div {
    display: block;
    width: 100%;
}

.signup-form, .login-form, .new-goal-form, .new-update-form {
    opacity: 0;
}

/*.signup-form-inner-div, .login-form-inner-div,*/ .user-index-well, 
.new-goal-form, .new-update-form, .goal-show-well, .goal-show-update-well, 
.update-show-well {
    transition: all .15s ease;
    &:hover {
        transform: translateY(-2px);
        // 0px out right, 7px downward, 14px blur distance
        box-shadow: 0 7px 14px rgba(50,50,93,.1),
                0 3px 6px rgba(0,0,0,.08);
    }
}

.user-index-path {
    text-align: center;
    color: black;
    &:hover {
        color: black;
        text-decoration: none;
    }
}

.user-index-elements {
    height: 120px;
}

.user-index-friends {
    text-align: center;
}

#new-goal-character-counter, #signup-form-character-counter, #new-update-character-counter {
    float: right;
    margin-right: 5px;
}

.goal-show-votes {
    float: right;
}

.goal-show-well {
    padding-bottom: 28px;
}

.goals-show-nested-comments {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    background-color: white;
    border-radius: 3px;
    margin-top: 5px;
}

.goals-show-double-nested-comments {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    background-color: #f2f2f2;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 5px;
}

.goals-show-comment-list {
    list-style: none;
    margin-left: -30px;
}

.goals-show-nested-comment-list, .goals-show-double-nested-comment-list {
    list-style: none;
    margin-left: -40px;
    margin-right: 5px;
}

.main-div {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 3px;
}

.fivepx-top-margin {
    margin-top: 5px;
}

.goals-show-nested-comment-margins {
    margin-left: 15px;
    margin-bottom: 8px;
}

.goals-show-double-nested-comment-margins {
    margin-left: 10px;
    margin-bottom: 8px;
}

.home-testimonials {
    background-color: #f2f3f4;
    transition: all .15s ease;
    &:hover {
        transform: translateY(-2px);
        // 0px out right, 7px downward, 14px blur distance
        box-shadow: 0 7px 14px rgba(50,50,93,.1),
                0 3px 6px rgba(0,0,0,.08);
    }
}

.home-page-trophy {
    margin-top: 40px;
}

.home-page-jumbotron {
    margin-bottom: 50px;
}

.home-page-explore-section {
    margin-bottom: 100px;
}

.home-page-signup {
    margin-top: 15px;
}

.vertical-divider {
    width: 1px;
    height: 380px;
    background: #d1dade;
    text-align: center;
    display: inline-block;
    margin-top: 25px;
}