<div class="navbar footer-class">
    <hr>
    <div class="container-fluid">
        <footer class="footer">
            <small>
                Copyright &copy; <%= link_to "GoalPositive", root_path %>
                <a align="center" href="#" class="back-to-top">Back to top</a>
            </small>
            <nav class="navbar-right">
                <small align="right">
                    <%= link_to "About Us", about_path %>
                </small>
            </nav>
        </footer>
    </div>
</div>